html {
  background-color: #000;
  min-height: 100%;
  font-size: 0.8em;
  text-align: center;
  color: #fff;
}
body {
  overflow: hidden;
}
p {
  padding-top: 20px;
}
#scene {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  opacity: 0;
}
.front,
.back {
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.tile {
  position: absolute;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  transition: all 0.4s;
}
.tile.hoverable {
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}
.tile.hoverable.hovered {
  box-shadow: 0px 5px 13px 6px rgba(0,0,0,0.1);
  transform: translateY(-5px) scale(1.07, 1.07);
  z-index: 1;
}
.tile.hoverable.hovered2 {
  box-shadow: 0px 5px 9px 6px rgba(0,0,0,0.04);
  transform: translateY(-2px) scale(1.05, 1.05);
  z-index: 1;
}
.tile.changingBackground {
  transition: 0s;
  transition-delay: 0.5s;
}
.tile.flip {
  animation-name: doit, border, opacity;
  -webkit-animation-name: doit, border, opacity;
}
#flippers {
  margin-bottom: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#flippers.animated .tile {
  box-shadow: 0px 0px 40px 2px rgba(237,140,0,0.4);
}
@-moz-keyframes lift {
  0% {
    box-shadow: none;
    transform: translateY(0) scale(1, 1);
  }
  100% {
    box-shadow: 0px 5px 13px 6px rgba(255,255,255,0.22);
    transform: translateY(-5px) scale(1.1, 1.1);
  }
}
@-webkit-keyframes lift {
  0% {
    box-shadow: none;
    transform: translateY(0) scale(1, 1);
  }
  100% {
    box-shadow: 0px 5px 13px 6px rgba(255,255,255,0.22);
    transform: translateY(-5px) scale(1.1, 1.1);
  }
}
@-o-keyframes lift {
  0% {
    box-shadow: none;
    transform: translateY(0) scale(1, 1);
  }
  100% {
    box-shadow: 0px 5px 13px 6px rgba(255,255,255,0.22);
    transform: translateY(-5px) scale(1.1, 1.1);
  }
}
@keyframes lift {
  0% {
    box-shadow: none;
    transform: translateY(0) scale(1, 1);
  }
  100% {
    box-shadow: 0px 5px 13px 6px rgba(255,255,255,0.22);
    transform: translateY(-5px) scale(1.1, 1.1);
  }
}
@-moz-keyframes doit {
  0% {
    transform: rotateY(0deg) rotate(0deg) scale(1);
  }
  49.9% {
    transform: rotateY(90deg) rotate(0deg) scale(0.9);
  }
  50% {
    transform: rotateY(270deg) rotate(0deg) scale(0.9);
  }
  100% {
    transform: rotateY(360deg) rotate(0deg) scale(1);
  }
}
@-webkit-keyframes doit {
  0% {
    transform: rotateY(0deg) rotate(0deg) scale(1);
  }
  49.9% {
    transform: rotateY(90deg) rotate(0deg) scale(0.9);
  }
  50% {
    transform: rotateY(270deg) rotate(0deg) scale(0.9);
  }
  100% {
    transform: rotateY(360deg) rotate(0deg) scale(1);
  }
}
@-o-keyframes doit {
  0% {
    transform: rotateY(0deg) rotate(0deg) scale(1);
  }
  49.9% {
    transform: rotateY(90deg) rotate(0deg) scale(0.9);
  }
  50% {
    transform: rotateY(270deg) rotate(0deg) scale(0.9);
  }
  100% {
    transform: rotateY(360deg) rotate(0deg) scale(1);
  }
}
@keyframes doit {
  0% {
    transform: rotateY(0deg) rotate(0deg) scale(1);
  }
  49.9% {
    transform: rotateY(90deg) rotate(0deg) scale(0.9);
  }
  50% {
    transform: rotateY(270deg) rotate(0deg) scale(0.9);
  }
  100% {
    transform: rotateY(360deg) rotate(0deg) scale(1);
  }
}
@-moz-keyframes border {
  10% {
    border-radius: 0%;
  }
  20% {
    border-radius: 25%;
  }
  80% {
    border-radius: 25%;
  }
  90% {
    border-radius: 0%;
  }
}
@-webkit-keyframes border {
  10% {
    border-radius: 0%;
  }
  20% {
    border-radius: 25%;
  }
  80% {
    border-radius: 25%;
  }
  90% {
    border-radius: 0%;
  }
}
@-o-keyframes border {
  10% {
    border-radius: 0%;
  }
  20% {
    border-radius: 25%;
  }
  80% {
    border-radius: 25%;
  }
  90% {
    border-radius: 0%;
  }
}
@keyframes border {
  10% {
    border-radius: 0%;
  }
  20% {
    border-radius: 25%;
  }
  80% {
    border-radius: 25%;
  }
  90% {
    border-radius: 0%;
  }
}
@-moz-keyframes opacity {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0.8;
  }
  49% {
    opacity: 0;
  }
  51% {
    opacity: 0;
  }
  70% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes opacity {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0.8;
  }
  49% {
    opacity: 0;
  }
  51% {
    opacity: 0;
  }
  70% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes opacity {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0.8;
  }
  49% {
    opacity: 0;
  }
  51% {
    opacity: 0;
  }
  70% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0.8;
  }
  49% {
    opacity: 0;
  }
  51% {
    opacity: 0;
  }
  70% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
