<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Magma
    link(rel="stylesheet", href="./assets/styles.css")
body
    .ice-cream
        ul#scene
            li.layer(data-depth="0.08")
                .ice
                    img(src="img/ice-scream.png", alt="")
            li.layer(data-depth="0.15")
                .spark.spark1
                    img(src="img/sparks-1.png", alt="")
            li.layer(data-depth="0.22")
                .spark.spark2
                    img(src="img/sparks-2.png", alt="")
            li.layer(data-depth="0.5")
                .spark.spark3
                    img(src="img/sparks-3.png", alt="")
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src="./client/bower_components/parallax/deploy/parallax.min.js")
    script(src="./assets/scripts.js")