<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Magma
    link(rel="stylesheet", href="./assets/styles.css")
    script(src="//localhost:35729/livereload.js")
body
    canvas#demo-canvas.center
    .ice-cream
        .bg
          img(src="img/bg.png", alt="")
        ul#scene(data-scalar-x="15")
            li.layer(data-depth="0.08")
                .ice
                    img(src="img/ice-scream.png", alt="")
            li.layer(data-depth="0.15")
                .spark.spark1
                    img(src="img/sparks-1.png", alt="")
            li.layer(data-depth="0.22")
                .spark.spark2
                    img(src="img/sparks-2.png", alt="")
            li.layer(data-depth="0.5")
                .spark.spark3
                    img(src="img/sparks-3.png", alt="")
            li.layer(data-depth="0.15")
              .light.light-8
                img.center(src="img/light-8.png", alt="")
            li.layer(data-depth="0.1")
              .light.light-9
                img.center(src="img/light-9.png", alt="")
            li.layer(data-depth="0.2")
              .light.light-10
                img.center(src="img/light-10.png", alt="")
            li.layer(data-depth="0.25")
              .light.light-12
                img.center(src="img/light-12.png", alt="")
            li.layer(data-depth="0.2")
              .light.light-13
                img.center(src="img/light-13.png", alt="")
            li.layer(data-depth="0.45")
              .light.light-11
                img.center(src="img/light-11.png", alt="")
            li.layer(data-depth="0.3")
              .light.light-14
                img.center(src="img/light-14.png", alt="")
            li.layer(data-depth="0.35")
              .light.light-15
                img.center(src="img/light-15.png", alt="")
            li.layer(data-depth="0.4")
              .light.light-16
                img.center(src="img/light-16.png", alt="")
            li.layer(data-depth="0.3")
              .light.light-17
                img.center(src="img/light-17.png", alt="")
            li.layer(data-depth="0.4")
              .light.light-18
                img.center(src="img/light-18.png", alt="")
            li.layer(data-depth="0.45")
              .light.light-19
                img.center(src="img/light-18.png", alt="")
            li.layer(data-depth="0.3")
              .light.light-20
                img.center(src="img/light-20.png", alt="")
            li.layer(data-depth="0.5")
              .light.light-21
                img.center(src="img/light-21.png", alt="")
            li.layer(data-depth="0.58")
              .light.light-22
                img.center(src="img/light-22.png", alt="")
            li.layer(data-depth="0.45")
              .light.light-23
                img.center(src="img/light-20.png", alt="")
            li.layer(data-depth="0.55")
              .light.light-24
                img.center(src="img/light-21.png", alt="")
            li.layer(data-depth="0.55")
              .light.light-25
                img.center(src="img/light-21.png", alt="")
            li.layer(data-depth="0.58")
              .light.light-26
                img.center(src="img/light-22.png", alt="")
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src="./client/bower_components/parallax/deploy/parallax.min.js")
    script(src="./assets/scripts.js")